<?xml version="1.0" encoding="UTF-8" ?>


<suite name="用户管理系统测试套件">

    <test name="用户管理系统测试用例">
        <classes>
            <class name="com.course.cases.LoginTest">
                <methods>
                    <include name="loginFalse"/>
                    <include name="loginTrue"/>
                </methods>
            </class>
            <class name="com.course.cases.AddUserTest">
                <methods>
                    <include name="addUserFalse"/>
                    <include name="addUserTrue"/>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.course.config.ExtentReport" />
    </listeners>
</suite>